

body {
    background-color: #D8D9DA;

}



/* Only the scroll bar */
::-webkit-scrollbar {
display: none;
}

input[type='date']::-webkit-calendar-picker-indicator {
    background: transparent;
    bottom: 0;
    color: transparent;
    cursor: pointer;
    height: auto;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    width: auto;
}

.typing-animation::after {
    content: ".";
    animation: typing 1s steps(5, end) infinite;
}

@keyframes typing {
    from,
    to {
        width: 0;
    }
    25% {
        width: 0.5em;
    }
    50% {
        width: 1em;
    }
    75% {
        width: 0.5em;
    }
}