<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sharity</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <script src="https://cdn.tailwindcss.com"></script>
    <script src="{% static 'js/tailwind.config.js' %}"></script>
    <script src="https://kit.fontawesome.com/4fc0c0ec0f.js" crossorigin="anonymous"></script>

</head>
<body>
<div class="flex flex-wrap">

   {% include 'navbar.html' %}
  
   {% block page %}
    <section class="flex justify-between align-center mx-auto mt-3 ">
      <div class="flex mt-3 justify-around align-center">
        <!---Side Navigation-->
        <div class="block mx-5 w-full h-fit min-w-[18rem] rounded-lg bg-white shadow-[0_2px_15px_-3px_rgba(0,0,0,0.07),0_10px_20px_-2px_rgba(0,0,0,0.04)] dark:bg-neutral-700">
            <ul class="w-full">
             <a href="{% url 'home' %}"> <li
                class="w-full border-b-2 border-neutral-100 border-opacity-100 px-4 py-3 dark:border-opacity-50">
                 Home
              </li></a>
             <a href="{% url 'category' %}"> <li
                class="text-primary-600 border-b-2 border-neutral-100 border-opacity-100 px-4 py-3 dark:border-opacity-50">
                Categories
              </li></a>
              <a href=""><li
                class="w-full border-b-2 border-neutral-100 border-opacity-100 px-4 py-3 dark:border-opacity-50">
                Nearby Events
              </li></a>
            </ul>
           <a href=""> <div class="border-neutral-100 p-4 dark:border-neutral-600 dark:text-neutral-50">
              My Events
            </div></a>
        </div>  
       <!---Event Card-->
        
       <div class="border-2 border-gray-600 w-full">
        Augxy Moon
       </div>



  </div>
</section>
{% endblock %}
</body>
</html>