{% extends 'home.html' %}

{% block page %}
<div class="mt-3 flex-row justify-center align-center w-3/4 mx-auto">
  <h1 class="text-3xl text-center py-3">All Events</h1>
  <div class="flex flex-wrap justify-between align-center">
    {% for i in events %}
    <div
      class="mr-4 block rounded-lg bg-white shadow-[0_2px_15px_-3px_rgba(0,0,0,0.07),0_10px_20px_-2px_rgba(0,0,0,0.04)] w-[20rem]">
      <div class="p-6">
        <h5
          class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50">
          {{ i.event_title }}
        </h5>
        <p class="mb-4 text-base text-neutral-600 leading-none">
          {{ i.event_subtitle }}
        </p>
        <button
          type="button"
          href="#"
          class="inline-block rounded bg-primary px-6 pb-2 pt-2.5 text-xs font-medium uppercase leading-normal text-white shadow-[0_4px_9px_-4px_#3b71ca] transition duration-150 ease-in-out hover:bg-primary-600 hover:shadow-[0_8px_9px_-4px_rgba(59,113,202,0.3),0_4px_18px_0_rgba(59,113,202,0.2)] bg-primary-600"
          data-te-ripple-init
          data-te-ripple-color="light">
          View Details
        </button>
      </div>
    </div>
    {% endfor %}
  
  </div>

  


</div>
  
{% endblock %}