<!DOCTYPE html>
<html>
<head>
    {% load static %}
	<title>SHARITY </title>
	<link rel="stylesheet" type="text/css" href="{% static 'css/index.css' %}">
	<link rel="stylesheet" type="text/css" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">  

</head>
<body>
	<header>
		<div class="main">
		<div class="logo">
			<img src="logo.png">
		</div>
		
		 <!-- <ul>
		 <li class="active"><a href="#"><i class="fa fa-home"></i>Home</a></li>
		 <li><a href="#">About</a></li>
		 <li><a href="#">Dessert</a></li>
		 <li><a href="#">Appetizers</a></li>
		 <li><a href="#">Pasta</a></li>
		 <li><a href="#">Salad</a></li>
		 <li><a href="#">Burger</a></li>
		 <li><a href="#">Pizza</a></li>
		 <li><a href="#"><i class="fa fa-caret-down"></i> More Recipes <i class="fa fa-caret-down"></i></a>
		 	<div class="sub-menu">
		 		<ul>	 
		 		 <li><a href="#">Cookies</a></li>
		 		 <li><a href="#">Sandwich</a></li>
		 	 </ul>
		 	</div>
		 </li>
		</ul> -->

		 </div>
		 <div class="title">
		 	<h1>HELPING HANDS</h1><br>
            <p class="hero-para">Diverse minds, united hearts. Sharity bridges gaps, bringing individuals together to design social events that paint the town with colors of togetherness.</p>
            
		 </div>
         
		 <div class="button">
		 	<a href="{% url 'login' %}" class="btn">Login</a>&nbsp;&nbsp;&nbsp;
		 	
		 	<a href="{% url 'register' %}" class="btn">Signup</a>
		 </div>

		 	</header>

</body>
</html>